<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sinan Sarikaya" />
    <meta
      name="description"
      content="Responsive todos app made using JavaScript"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Todo List</title>
  </head>
  <body>
    <div class="filter"></div>
    <div class="alert-left">
      <div class="alert"></div>
    </div>
    <div class="alert-right">
      <div class="alert"></div>
    </div>

    <div id="leftSide">
      <header>
        <h1 class="title">Todo List</h1>
        <div class="add-container">
          <form class="input-container">
            <input type="text" class="todo-input" id="todo-input" placeholder="Add an item" />
           
             <input type="date" class="todo-input" id="date-input" placeholder="Add date" />
              <select name="priority" class="priority" id="priority">
              <option selected disabled>Priority</option>
              <option value="high">High</option>
              <option value="middle">Middle</option>
              <option value="low">Low</option>
            </select>
            <input type="submit" class="submitBtn" onclick="onAdd()" value="Add" />
          </form>
        </div>
      </header>

      <div class="list" id="listLeft">
    
      </div>
     
    </div>
    <div id="rightSide">
      <header>
        <h1 class="title">Search Todo</h1>
        <input type="text" class="todo-input-search" id="text-todo-input" placeholder="search by name, done..." />
        <input type="date" class="todo-input-search" id="date-input-search" placeholder="Add an item" />
        <input type="submit" class="submitBtn" onclick="searchTodo()" value="Search Todo" />
         <input type="submit" class="submitBtn logout" onclick="logout()" value="Logout" />
      </header>
      <div class="list" id="searchRight">
      
    
 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
     <script src="./js/app.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" integrity="sha512-CryKbMe7sjSCDPl18jtJI5DR5jtkUWxPXWaLCst6QjH8wxDexfRJic2WRmRXmstr2Y8SxDDWuBO6CQC6IE4KTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
   
    
  </body>
</html>