
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="http://infiniteiotdevices.com/images/logo.png" rel="icon" sizes="16x16" type="image/gif" />
	<link rel="stylesheet" type="text/css" href="../login-form-6.css">
</head>
<body>
	<div class="form">
		<form>
			<h2>Set Up Password</h2>
			<div class="input-box">
				<i class="fa fa-envelope"></i>
				<input type="number" name="code"  id="code" placeholder="code" required="">
			</div>
            <div class="input-box">
				<i class="fa fa-lock"></i>
				<input type="password" name="re_password"  id="password" placeholder="new password" required="">
			</div>
			<div class="input-box">
				<input type="submit" onclick="loginForm(event)" >
			</div>
			<h4>I have account? <a href="/auth/sign-in">Sign In</a></h4>
		</form>
	</div>
</body>
</html>
      
        
        <script>
                function loginForm(e){
                    e.preventDefault();
                    let code = document.getElementById('code').value;
                    let re_password = document.getElementById('password').value;
                    console.log(JSON.stringify({code,re_password}))
                   $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/auth/reset-password",
                        data: JSON.stringify({code,re_password}),
                        dataType: 'json',
                        cache: false,
                        timeout: 600000,
                        success: function (data) {
                          Toastify({
                            text: data.message,
                            duration: 1000,
                            newWindow: true,
                            close: true,
                            gravity: "top", // `top` or `bottom`
                            position: "left", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            },
                            onClick: function(){} // Callback after click
                            }).showToast();
                        },
                        error: function (e) {
                            Toastify({
                            text: e.message,
                            className: "danger",
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            }
                            }).showToast();
                        }
                });
                 
                }

        </script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
